{% extends "posts/base.html" %}

{% block contain %}


 
{% for post in posts %}
    <div class = "content">
        <p class ="user">{{ post.author.username }}</p>
        <img id="userimg" src="{{ post.author.profile_photo }}">
        <img id="userphoto" src="{{ post.image }}">
        <div class = "comment">
        <p>{{ post.caption }}</p>
        <p style = "color : slategray"> 댓글 모두 보기</p>
        {% for comment in post.comment_post %}
        <br> {{ comment.contents }}
        {% endfor %}

    </div>

{% endfor %}

{% endblock contain %}